/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	position: relative;
}

h1 {
	text-align: center;
	height: 40px;
	width: 100%;
	background-color: lightblue;
}

/*Calendar Div*/
.calendar{

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  position: relative;
  left: 15px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/*Bottom Bar for Navigation*/
.nav-bar {
	height: 80px;
	width: 300px;
	background-color: lightblue;
	position: absolute;
  	bottom: 0;
}


.icons-wrapper {
	margin-top: 15px;
	margin-left: 25px;
	width: 300px;
	display: grid;
    grid-template-columns: auto auto auto;
}

#graph {
	fill: black;
}

.addbutton {
	position: relative;
	text-align: center;

}