/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	position: relative;
}

h1 {
	text-align: center;
	height: 45px;
	width: 100%;
	background-color: lightblue;
}

/*Calendar Div*/
.calendar{
	margin-right: 10px;
	margin-left: 10px;
    height: 300px;
    width: 280px;
    overflow: scroll;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  position: relative;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/*Bottom Bar for Navigation*/
.nav-bar {
	height: 80px;
	width: 300px;
	background-color: lightblue;
	position: absolute;
  	bottom: 0;
}


.icons-wrapper {
	margin-top: 15px;
	margin-left: 25px;
	width: 300px;
	display: grid;
    grid-template-columns: auto auto auto;
}

#graph {
	fill: black;
}

.addbutton {
	position: relative;
	text-align: center;
	bottom: -15px;

}

.back-button {
    margin-right: 280px;
    padding: 7.5px;
}


select {
	font-family: Avenir, sans-serif;
}

.timeform {
	width: 250px;
	padding-left: 25px;
	margin-bottom: 30px;
}

h2 {
	margin-bottom: -5px;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}

.text{
  position:absolute;
}


.calendar table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}

.applist {
	width: 250px;
	height: 40px;
	margin-left: 25px;
	display: flex;
	display: grid;
  grid-gap: 0 150px;
  grid-template-columns: auto auto;
}


/*For the data visualization*/

#chartContainer {
  height: 300px;
  width: 290px;
  position: relative;
  left: 5px; 
}

#barchartContainer {
  height: 370px; 
  max-width: 920px; 
  margin: 0px auto;
}